{% extends "home/nft.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">

  <h1 class="mt-4 text-center">Giỏ hàng của tôi</h1>
    <div class="container cart-container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Giá</th>
            </tr>
            </thead>
            <tbody>
                {% for cart_item in cart_items %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ cart_item.product.title }}</td>
                        <td>{{ cart_item.quantity }}</td>
                        <td>{{ cart_item.product.price }} vnđ</td>
                        <td>
                            <!-- Thêm nút xóa -->
                            <form action="{% url 'cart:delete_cart_item' cart_item.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-danger btn-sm delete-cart-item" data-cart-item-id="{{ cart_item.id }}">Xóa</button>
                            </form>                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <td>    </td>
                <tr>
                    <td colspan="3" class="text-right"><strong>Tổng giá tiền:</strong></td>
                    <td>{{ total_price }} vnđ</td>
                    <td>
                        <!-- Thêm nút Đặt hàng -->
                        <form action="#" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Đặt hàng</button>
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const deleteButtons = document.querySelectorAll(".delete-cart-item");
    
            deleteButtons.forEach(button => {
                button.addEventListener("click", function() {
                    const cartItemId = this.getAttribute("data-cart-item-id");
    
                    // Gửi yêu cầu xóa sản phẩm trong giỏ hàng với cartItemId
                    fetch(`/cart/delete/${cartItemId}/`, {
                        method: "DELETE",
                        headers: {
                            "X-CSRFToken": csrf_token,
                        },
                    })
                        .then(response => {
                            if (response.ok) {
                                // Xóa mục khỏi trang
                                const row = this.closest("tr");
                                row.remove();
                            }
                        })
                        .catch(error => {
                            console.error("Xóa sản phẩm không thành công", error);
                        });
                });
            });
        });
    </script>
        
{% endblock content %}
